<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form action ="/searches/new" method ="POST">
        <fieldset> 
            <legend> Search </legend> 
            <label> 
                <span> Title</span> 
                <input type ="text" name ="title"> 
            </label>  
            <input type="radio" name ="choice" value="title">
            <input type="radio" name ="choice" value="author">
            <button> Submit </button> 
        </fieldset>
    </form>
</body>
</html>