<!DOCTYPE html>
<html lang="en">

    <%- include('../../layout/head') %>

<body>
    <%- include('../../layout/header') %>
    <main>
    <form id="searchForm" action="/searches" method="POST">
        <fieldset>
            <label>Search
                <input type="text" name="title" placeholder="Enter title or author name">
            </label>
            <br>
            <label>Search by Title
                <input type="radio" name="choice" value="title">
            </label>
            <br>
            <label>Search by Author
                <input type="radio" name="choice" value="author">
            </label>
            <br>
        </fieldset>
        <button type="submit">Search Book</button>
    </form>
</body>

</html>