<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel = "stylesheet" href = "styles/reset.css">
  <link rel = "stylesheet" href = "styles/layout.css">
  <link rel = "stylesheet" href = "styles/base.css">
  <title> Document </title>
</head>
<body>
  <header>Search Results</header>
  <main>
    <section id="container">
    <ul>
    <% searchResults.forEach( book => { %>
          <li>
            <img src=<%= book.img %>>
            <h2><%= book.bookTitle %></h2>
            <h3><%= book.author %></h3>
            <p><%= book.description %></p>
            </li>
    <% }) %>
  </ul>
</section>
  </main>
</body>
</html>